
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #010100;
}

p {
    font-size: 25px;
}

#profession-description {
    font-weight: 500;
    color: #010100;
}

.navbar-brand {
    color: #010100;
    font-size: 3.5rem;
    margin-right: auto;
    margin-left: 0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: .3s;
} 

.navbar {
    background-color: #FEDE00;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.navbar-nav .nav-item {
    margin-bottom: 10px;
}

.navbar-nav .nav-link {
    color: #010100;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.navbar-nav .nav-link:hover {
    color: #010100;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.jumbotron {
    background-color: #ffffff;
    margin-top: 70px;
    padding-top: 250px; /* Added padding to create space between jumbotron and navbar */
}


.social-icons a {
    margin-right: 20px;
}

.social-icons a i {
    font-size: 50px;
}

.padding-around {
    padding: 20px;
}

footer {
    background-color: #12be8b;
    padding: 20px 0;
    color: #333;
    font-size: 14px; 
}

.row {
    padding: 20px;
}

.col-sm-3 {
    padding: 0 25px; 
}


.aboutContainer {
    display: flex;
    justify-content: center;
}

.about {
    width: 70%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aboutContent {
    text-align: center;
}

